@page "{inviteCode?}"
@using Microsoft.AspNetCore.Identity
@using ASpecialDay.Areas.Identity.Data
@inject SignInManager<Bride> SignInManager
@inject UserManager<Bride> UserManager
@model ASpecialDay.Pages.GiftListModel
@{
    ViewData["Title"] = "GiftList";
}
@section StyleSheets {
    <link rel="stylesheet" href="~/css/gift-list.css" />
}
<!-- Content -->
<div class="container-fluid h-100 p-0 m-0">
    <div class="row h-100 p-0 m-0">
        <div class="col-sm-6 h-100 p-0">
            <span class="wedding-picture h-100 w-100"></span>
            <div class="fixed-bottom position-absolute border-top border-warning p-3"
                 style="background-color: rgba(255, 255, 255, 0.65); clip-path: polygon(0 0, 82.5% 0, 100% 100%, 0 100%);">
                <div class="row">
                    <div class="col">
                        <h4>You've been invited to Sara and Amber their wedding.</h4>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-6">
                        <p>
                            Sarah and Amber have invited you to join their wedding,
                            on this page you will find the wedding info as well as a list of gifts they
                            wish to have. You can cross off the gift you wish to give and leave contact info of
                            you and other participants who'd like to buy the gift together with you.
                        </p>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <h5>Wedding Information:</h5>
                        </div>
                        <div class="row">
                            <ul class="p-0" style="list-style: none;">
                                <li><i class="far fa-calendar-alt text-warning mr-2"></i>24.04.2021</li>
                                <li><i class="far fa-clock text-warning mr-2"></i>16:30</li>
                                <li><i class="fas fa-map-marker text-warning mr-2"></i>Level 1, Boulevard Tower</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row col-sm-6 h-100 justify-content-center">
            <div class="col-12 my-auto">
                <div class="row">
                    <div class="col-10">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <!-- TODO: Add Validation -->
                            <h3>Add A Wedding Gift:</h3>
                            <div id="add-gift-container" class="mb-2 p-2 border border-secondary rounded bg-white">
                                <div class="row vertically-center p-0">
                                    <form class="form-inline col-12 p-0" method="post" asp-page-handler="AddGift">
                                        <div class="form-group row col-12">
                                            <div class="col-2">
                                                <label class="h5" asp-for="NewGift.Name"></label>
                                            </div>
                                            <div class="col-9">
                                                <input asp-for="NewGift.Name" class="form-control form-text w-100" typeof="text" required />
                                            </div>
                                            <div class="col-1">
                                                <button class="btn btn-outline-secondary" type="submit">
                                                    <i class="fas fa-plus"></i>
                                                </button>
                                            </div>
                                            <input type="hidden" asp-for="InviteCode" value="@Model.InviteCode" />
                                            <span asp-validation-for="NewGift.Name" class="text-danger"></span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        }
                        <div id="gift-list" class="list-group">
                            <h3>Wedding Gifts Wishlist:</h3>
                            @if (Model._GiftList.Gifts != null)
                            {
                                @foreach (var gift in Model._GiftList.Gifts.Where(gift => gift.IsBought == false))
                                {
                                    <div class="list-group-item">
                                        <h5 class="d-inline">@gift.Name</h5>

                                        @if (SignInManager.IsSignedIn(User))
                                        {
                                            <form method="post" asp-page-handler="MoveDown" asp-route-gift="@gift">
                                                <button class="d-inline float-right">
                                                    <i class="fas fa-arrow-down"></i>
                                                </button>
                                            </form>
                                            <form method="post" asp-page-handler="MoveUp" asp-route-gift="@gift">
                                                <button class="d-inline float-right">
                                                    <i class="fas fa-arrow-up"></i>
                                                </button>
                                            </form>
                                            <form method="post" asp-page-handler="Delete" asp-route-gift="@gift">
                                                <button class="d-inline float-right">
                                                    <i class="fas fa-trash"></i>
                                                </button>
                                            </form>
                                        }
                                        else
                                        {
                                            <!-- TODO: Make popup dialog to add participants -->
                                            <form method="post" asp-page-handler="">
                                                <button class="d-inline float-right">
                                                    <i class="fas fa-check-square"></i>
                                                </button>
                                            </form>
                                        }
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="mb-2 p-2 border border-danger rounded bg-white">
                                    <div class="row vertically-center px-3">
                                        <div class="col-12 text-center">
                                            <h4>No gifts have been added to the list, the list is currently empty.</h4>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <!-- TODO: Add Crossed-Off Gift List -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-10">
                        <h3>Crossed-Off Gifts</h3>
                        <div class="list-group">
                            @if (Model._GiftList.Gifts != null)
                            {
                                @foreach (var gift in Model._GiftList.Gifts.Where(gift => gift.IsBought == true))
                                {
                                    <div class="list-group-item">
                                        <h5 class="d-inline">@gift.Name</h5>

                                        @if (SignInManager.IsSignedIn(User))
                                        {
                                            <form method="post" asp-page-handler="Delete" asp-route-gift="@gift">
                                                <button class="d-inline float-right">
                                                    <i class="fas fa-trash"></i>
                                                </button>
                                            </form>
                                        }
                                        else
                                        {

                                        }
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="mb-2 p-2 border border-danger rounded bg-white">
                                    <div class="row vertically-center px-3">
                                        <div class="col-12 text-center">
                                            <h4>No gifts have been crossed-off from list.</h4>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>